<p><%= l(:mail_body_lost_password) %><br />
<%= link_to url = edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), url %></p>

<p><%= l(:field_login) %>: <b><%=h @resource.login %></b></p>
